p {
    text-align: justify;
    text-align-last: left;
}


pre.r {
    color: #f1f1f1;
    background-color: #071328;
}


.navbar.navbar-default.navbar-fixed-top {
    background-color: #12326b;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #7fa5e9;
  background-color: transparent
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7fa5e9;
  background-color: transparent
}

a {
    color: #7fa5e9;
    text-decoration: none;
}

a:hover,
a:focus {
  color: #7fa5e9;
  text-decoration: underline
}

.hljs-literal {
  color: rgb(255, 34, 255, 1);
}

.hljs-number {
  color: rgb(66,222,244);
}

.hljs-comment {
  color: rgb(76, 136, 107);
}

.hljs-keyword {
  color: rgb(246,88,72);
  /* rgb(175,72,246) */
}

.hljs-string {
  color: rgb(5,180,12);
}

.mTable {
    width: 100%
}

.mTable th {
    background-color: #12326b;
    color: #fff;
    font-weight: bold;
}

.mTable tr:nth-child(even){
    background-color: #b1c9f2
}


.rTable {
  border: 2px solid #12326b;
  border-spacing: 0px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}

.rTable th {
  background-color: #12326b;
  color: #ffffff;
  font-weight: bold;
}

#inputTable {
  margin-left: auto;
  margin-right: auto;
}

#inputTable td:first-child {
  font-weight: bold;
}

#varTable {
    width: 100%;
}

#varTable td:first-child {
    font-weight: 900;
}